services:
  app:
    build: .
    env_file: .env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: bitnami/postgresql
    environment:
      POSTGRES_USER: brevly_user
      POSTGRES_PASSWORD: brevly_password
      POSTGRES_DB: brevly_db
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -h 127.0.0.1']
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/bitnami/postgresql

volumes:
  pgdata:
